#sources  {
  width: 300px;
  max-width: 300px;
}
#root {
  font-family: Courier New;
  -moz-user-select: text;
  -moz-user-focus: normal;
}
p.title {
  font-weight: bold;
}
a {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
ul {
  list-style-type: none;
  padding-left: 1em;
  border-left: 4px solid gray;
  margin-left: 4px;
}
li.owner:before {
  content: "\2196\00a0";
}
li.edge:before {
  content: "\2198\00a0";
}
div.function-source {
  white-space: pre;
  background-color: #e0e0e0;
  border: 1px solid gray;
}
